.main {
    min-height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 3rem;
        margin-top: 2rem;
    }
}

.cardSection {
    .enrollCard {
        background-color: var(--main-bg-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
        padding: 1rem;
        width: 777px;
        max-width: 94vw;
    
        .cardImg {
            width: 95%;
            height: auto;
            margin: 1rem;
        }
    }
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    h1 {
        font-size: 2.7rem;
    }

    img {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        margin: 2rem;
        max-width: 100%;
        height: auto;
    }
}