.contactMain {
    .contactContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        // min-height: 60vh;
        // margin-bottom: 3rem;

        h2 {
            margin-block: 2rem;
        }

        .contactDiv {
            display: flex;
            justify-content: space-between;
            max-width: 100%;
            img {
                width: 35%;
                height: auto;
                aspect-ratio: 1/1;
                object-fit: cover;
            }
            @media only screen and (max-width: 768px){
                flex-direction: column;
                align-items: center;
                img {
                    // height: 222px;
                    // width: 333px;
                    // max-width: 100vw;
                    // order: 2;
                    // margin-top: 2rem;
                    display: none;
                }
            }
            .linkDiv {
                display: flex;
                flex-direction: column;
                // justify-content: center;
                // align-items: end;
                max-width: 98vw;
                margin: 0 1rem;

            }
        }
    }
    section {
        // margin-top: 3rem;
        .animated{
            max-width: 100%;
        }
    }
}

.contactText {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.5rem;
    text-transform: uppercase;

    .contactLink {
        margin: 0.25rem;
        a {
            padding-inline: 0.5rem;
            font-size: 1.2rem;
        }
    }    
}
