.beginningImg {
    width: clamp(300px, 777px, 100%);
    height: auto;
}

.beginningSection {

    .beginningTitle {
        font-size: 3rem;
        font-weight: 500;
    }

    .beginningText {
        font-size: 1.3rem;
        margin: 2rem 0 3rem;
    }
}