:root {
    --main-bg-color: #F6F6F6;
    --main-text-color: #000;
    --main-light-text-color: #fff;
    --alt-bg-color: #A1A4A350;
    --nav-link-color: #5a1d00;
    --link-hover-bg-color: #152d7d;
    --nav-link-hover-color: #008000;
    --accent-text-color: #A1474C;
    // --main-font-serif: 'Martel', serif;
    // --main-font-sans: 'Martel Sans', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

.page-main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .page-content {
        max-width: 1222px;
    }
}