.introDiv {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
    margin: 2rem;

    .spellingBeeImg {
        aspect-ratio: 1/1;
        min-width: 40%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .bubblesImg {
        aspect-ratio: 1/1;
        min-width: 40%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .introText {
        max-width: 777px;
        text-align: center;

        h4{
            font-size: 2.5rem;
        }

        p {
            font-size: 1.6rem;
            font-weight: 200;
        }
    }

    &.introDiv1 {
        // height: 55vh;
        background-color: var(--link-hover-bg-color);
        // width: 100vw;
        max-width: 1222px;
        color: var(--main-light-text-color);
        margin-top: 0;
    }

    @media only screen and (max-width: 768px){
        flex-wrap: wrap;

        &.introDiv1{
            height: unset;
            padding: 3rem 2rem;
        }
        
        .spellingBeeImg {
            width: 70%;
        }
        .bubblesImg {
            order: 2;
            width: 88%;
        }
    }

    .homeBtn {
        font-size: 1.2rem;
    }
}

.heroBg {
    width: 100vw;
    background-color: var(--link-hover-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeVideoDiv {
    min-height: 100vh;
    width: 100vw;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background: var(--link-hover-bg-color);
    background-color: white;

    h4{
        font-size: 2.5rem;
        // color: var(--main-light-text-color);
        color: var(--main-text-color);
        text-align: center;
        margin: 3rem 2rem;
    }
    .homeVideo {
        width: clamp(300px, 555px, 100%);
        // height: auto;
        max-width: 100%;
        // object-fit: cover;
    }    
    .inquiryButton{
        font-size: 1.6rem;
        margin-top: 1rem;
    }
}

