.introDiv {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 3rem;

    .sittingImg {
        width: clamp(300px, 50%, 500px);
        height: auto;
        max-width: 100%;
        object-fit: cover;
    }

    .bubblesImg {
        width: clamp(300px, 50%, 500px);
        max-width: 100%;
        object-fit: cover;
    }

    .introText {
        max-width: 777px;
        text-align: center;

        h4{
            font-size: 2.5rem;
        }

        p {
            font-size: 1.6rem;
            font-weight: 200;
        }
    }

    &.introDiv1 {
        height: 55vh;
    }

    @media only screen and (max-width: 768px){
        flex-wrap: wrap;

        &.introDiv1{
            height: unset;
        }
        
        .sittingImg {
            width: 88%;
        }
        .bubblesImg {
            order: 2;
            width: 88%;
        }
    }
}