.header-div {
    position: fixed;
    top: 0;    
    width: 100%;
    z-index: 999; 
}

header {
    background-color: var(--main-bg-color) !important;

    * {
        color: var(--main-text-color) !important;
    }

    padding-block: 0.5rem;


}

.lg-menu {
    z-index: 3000;
}

.nav-menu-lg {
    gap: 1.5rem;

    // margin-left: auto;

    .nav-title {
        text-transform: none;
        font-size: 1.22rem;
    }

    .about-menu {
        margin-left: auto;
    }

    .blog-link {
        font-size: 1.22rem;
    }
}

.logo-text {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;

    h4 {
        font-size: 2rem;
        margin-bottom: -0.5rem;
        font-weight: 600;
    }

    h5 {
        font-size: 0.97rem;
        letter-spacing: 0.0rem;
        margin: 0;
    }
}

.logo {
    width: 2rem;
    height: auto;
}

//Override MUI style for Blog btn
.MuiContainer-root {
    max-width: 999px;
}

* {
    a {
        text-decoration: none;
        color: var(--main-text-color);
        font-size: 1.011rem;
    }
}

//Small screen nav menu styling
.css-1160xiw-MuiPaper-root-MuiDrawer-paper{
    // background-color: var(--nav-link-hover-color);
    background-color: #14611A;
}

.small-screen-menu-div {
    margin-left: auto;
}

.small-menu-button {
    justify-content: center;
    width: 100%;

    a {
        width: 99vw;
        font-size: 1.4rem;
    }

    button {
        font-size: 1.4rem;
        // color: var(--main-light-text-color);
        text-transform: unset;
    }

    .blog-link {
        // color: var(--main-light-text-color);
        text-transform: unset;
    }
}

.small-menu-item {
    font-size: 1.22rem;
    width: 76vw;
    min-width: max-content;
}

.close-btn-div {
    width: 100%;
    text-align: center;
    margin-block: auto 5rem;

    .close-btn-sm-screen{
        font-size: 1.4rem;
        width: fit-content;
        // background-color: var(--nav-link-hover-color);
        border-color: var(--nav-link-hover-color);
    }    
}

// OVERRIDE MUI STYLE
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    color: var(--main-text-color);
    text-transform: unset;
}