.blogContent {
    margin-top: 80px;
    
    h3 {
        margin-block: 2rem;
    }

    .links {
        min-height: 65vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .linkList {
            list-style-type: none;

            li {
                font-size: 2rem;

                a {
                    font-size: 1.4rem;
                    color: var(--nav-link-hover-color);
                }

            }
        }
    }
}

.blogPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 3rem;

    .blogContent {
        width: 999px;
        // max-width: 100%;
        line-height: 1.6;

        section {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-block: 1rem;
            border-bottom: 2px solid var(--nav-link-hover-color);

            p {
                font-size: 1.15rem;
            }

            h6 {
                font-size: 1.2rem;
                font-weight: 700;
            }

            .blogTitle {
                text-align: center;
                font-size: 1.9rem;
                margin-bottom: 0;
            }

            .author {
                margin-bottom: 2rem;
            }

            .heading {
                font-size: 1.7rem;
                width: 100%;
                text-align: start;
            }

            a {
                color: blue;
            }

        }

        .blogImg {
            max-width: 300px;
            height: auto;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

        }
    }

}