.staffPage{
    background-color: var(--alt-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.staff-card img {
    width: 333px;
}

.staffContent {
    max-width: 1444px;
}